/* Fonte futurista */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #0d0b16;
    color: #f2e900;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #310065, #5a0099);
    color: #f2e900;
    border-bottom: 3px solid #f2e900;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: #1b1630;
    border: 2px solid #f2e900;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #f2e900;
}

/* Modal futurista */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 0, 15, 0.85);
    backdrop-filter: blur(5px);
}

.modal-content {
    background: #1b1630;
    margin: 10% auto;
    padding: 30px;
    border: 2px solid #f2e900;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 20px #f2e900;
}

.fechar {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #f2e900;
}

.fechar:hover {
    color: white;
}
